<div class="center">
  <div class="area">
    <label class="medium-text">המרחק</label>
    <div class="row">
      <label class="large-text">{{distance}}</label>
      <label class="small-text">ק"מ</label>
    </div>
  </div>
  <div class="area">
<label class="medium-text">המרחק הפופולרי ביותר</label>
    <div class="row">
      <label class="large-text">{{popular}}</label>
      <label class="small-text">בקשות</label>
    </div>
    <div class="row small-text">
      <label class="large-text small-text">{{source}}</label>
      <label>|</label>
      <label class="large-text small-text">{{destination}}</label>
      </div>
  </div>
</div>
<button (click)="goToForm()">סיום</button>

