<!-- <label class="medium-text">המרחק הפופולרי ביותר</label>
<div class="row">
  <label class="large-text">{{dis.hits}}</label>
  <label class="small-text">בקשות</label>
</div>
<div class="row small-text">
  <label class="large-text small-text">{{dis.source}}</label>
  <label>|</label>
  <label class="large-text small-text">{{dis.destination}}</label>
</div> -->

<label class="medium-text">המרחק הפופולרי ביותר</label>
<div class="row">
  <label class="large-text">{{dis.hits}}</label>
  <label class="small-text">בקשות</label>
</div>
<div class="row small-text">
  <label class="large-text small-text">{{dis.source}}</label>
  <label>|</label>
  <label class="large-text small-text">{{dis.destination}}</label>
</div>